#navbar{
    flex-direction: column;
}
.mainh{
    font-size: 1.5rem;
    
}
.mainp{
    font-size: 0.8rem;

}
#heading2{
    font-size: 1.5rem;

}
.contact{
    font-size: 1.5rem;
}
.btn1{
    padding: 5px 10px;
}
#home{
    padding: 10px 75px;
    height: 280px;
}
.sec1{
    margin-top: 98px;
}
#sec2{
    margin-top: 20px;
}