/* css reset */
*{
    margin: 0px;
    padding: 0px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{    
    content: "";
background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
}
 /* logo */

.logo img{
    height: 70px;
    margin: 2px 5px;
  
}
 /* navbar */
 #navbar ul{
     display: flex;
 }
 #navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    display: block;
   
    padding: 0px 12px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}
/* section */
#home{
   display: flex;
   flex-direction: column;
   padding: 20px 200px;
   height: 300px;
   align-items: center;
   justify-content: center;
}
#home::before{
    content: "";
    background: url(img/main\ bg.jpg) no-repeat center center/cover;
        width: 100%;
        height: 500px;
        z-index: -1;
        opacity: 0.9;
        position: absolute;
        
    
}
.sec1{
    margin-top: 79px;
}
.mainh{
    color: white;
    font-size: 2.8rem;
    padding: 15px;
    margin-top: 20px;
}
 .mainp{
     color: white;
     font-size: 1.3rem;
     text-align: center;
     
 }
 .btn1{
     padding: 5px 16px;
     border-radius: 8px;
     border: 2px solid white;
     background-color: orangered;
     color: black;
     margin: 20px;
     cursor: pointer;
 }
 .btn1:hover{
    padding: 6px 17px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: orangered;
    color: black;
 }
 /* services */
 #sec2{
    
margin-top: 40px;
height: 423px;
 }
 #heading2{
     
margin: auto;
font-size: 2.5rem;
     text-align: center;
     
 }
 .container{
     display: flex;
     margin: 10px 20px;
     justify-content: center;
     align-items: center;
 }
 .box img{
     height: 180px;
     display: block;
     margin: auto;

 }
 .box{
     border: 2px solid orangered;
     background-color: #fff1df;
     margin: 20px 30px;
     padding: 20px;
     border-radius: 8px;
    
 }
 .box:hover{
    box-shadow: 6px 7px 6px grey;
    /* padding: 25px; */
    transform: scale(1.02);
 }
 .box h3{
     text-align: center;
     font-size: 1.6rem;
 }
/* Contact Us */

.sec3{    
    padding: 1px 0px;
    
    
    
}
.sec3::before{
    content: "";
    background: url(img/contact\ bg.jpg) no-repeat center center/cover;
        width: 100%;
        height: 370px;
        z-index: -1;
        opacity: 0.9;
        position: absolute;
        filter: blur(3px);
}

h1{
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 3rem;
color: white;
}
.in{
    text-align: center;
    font-size: 1.2em;
  color: white;
    
}
.in input{
    padding: 6px 70px;
    margin: 8px;
    border-radius: 8px;
    border: 2px solid rgb(15, 15, 34);
}
.inputbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    width: 52px;
    margin: auto;
}
.btnbox{
    display: flex;
}
.btn{
    
    margin: 10px;
    border-radius: 3px;
    padding: 5px 10px;

} 
.btn:hover{
    padding: 6px 12px;
    color: black;
    background-color: white;

}
.hr2{
    margin-top: 30px;
}
/* footer */
footer{
    background-color: orange;
    text-align: center;
    padding: 10px 20px;
}